/* INICIO TELA 1 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    box-sizing: border-box;
}

/* Cabeçalho do site */
header {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}

main {
    width: 1051px;
    display: flex;
    flex-direction: column;
}

/* Criação de novos Quizzes */
.criacao-quizzes {
    width: 1051px;
    height: 181px;
    margin-top: 77px;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    width: 250px;
    color: #B9B9B9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    word-break: break-word;
}

.criacao-quizzes button {
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.quizzes-criados {
    margin-top: 77px;
}
.titulo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
h3 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.titulo button {
    width: 31px;
    height: 30px;
    background-color: #EC362D;
    border: none;
    border-radius: 500px;
    color: #FFFFFF;
    font-size: 23px;
    margin-left: 17px;
}
.criados {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.criados li {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/44570DA0FF3D8049B04C0DEA0277DBCA17EFFDCDA8E2CFCF5E7616BF0D9213A1/scale?width=1200&aspectRatio=1.78&format=jpeg);
    background-size: 340px 181px;
    border-radius: 5px;
}
/* Sessão com todos os Quizzes */
section {
    margin-top: 77px;
}

section h3 {
    margin-bottom: 12px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* Cada Quizz */
ul li {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/44570DA0FF3D8049B04C0DEA0277DBCA17EFFDCDA8E2CFCF5E7616BF0D9213A1/scale?width=1200&aspectRatio=1.78&format=jpeg);
    background-size: 340px 181px;
    border-radius: 5px;
}

li p {
    margin-bottom: 7px;
    margin-left: 18px;
    word-break: break-word;
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}
/* FIM TELA 1 */

/* INICIO TELA 3 */
.formulario1{
    min-height: 825px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: 2px #000000 solid ;
}
span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 27px;
    margin-bottom: 12px;
    margin-left: 17px;
}
.span_respostaCorreta{
    margin-top: 27px;
    margin-bottom: 14px;
}
input {
    min-width: 564px;
    min-height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 14px;
    margin-left: 17px;
    margin-right: 20px;
}
::placeholder{
    color:#BABABA;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    margin-top:13px;
    margin-left: 23px;
}
.barra{
    background-color: transparent;
    margin-top:7px;
    margin-bottom: 7px;
    min-height: 20px;
    min-width: 600px;
}
.formulario2{
    margin-top: 24px;
  display: flex;
  flex-direction: row;
    min-height: 74px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: 2px #000000 solid ;
}

.formulario3{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    min-height: 74px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: 2px #000000 solid ;
}
.formulario2 img{
  
    position: relative;
    top:0px;
    left:440px;
    width:26px;
    Height:23px;
}
.formulario3 img{
    position: relative;
    top:0px;
    left:0px;
    width:26px;
    Height:23px;
}

.proseguirParaNiveis{
    width: 353.91px;
    height: 54px;
    margin-top: 81px;

    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: 
    #FFF5F4;
}

/* FIM TELA 3 */

/* INICIO PARTE DA TELA 2 */

.tituloQuiz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 22vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/44570DA0FF3D8049B04C0DEA0277DBCA17EFFDCDA8E2CFCF5E7616BF0D9213A1/scale?width=1200&aspectRatio=1.78&format=jpeg);
    background-size: 100vw 22vh;
    margin: 0;
}

.tituloQuiz h1 {
    font-weight: 400;
    font-size: 39px;
    color: #ffffff;
}

.larguraTotal {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pergunta {
    width: 759px;
    height: 676px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 42px;
}

.pergunta img {
    width: 330px;
    height: 175px;
}

.color {
    background-color: purple;
    margin-bottom: 19px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color h1 {
    font-size: 23px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 27px;
}

.flex {
    display: flex;
}

.miniContainer {
    display: flex;
    flex-direction: column;
}

.miniContainer p {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 19px;
}

.margin {
    margin-left: 38px;
}

.efeitoResposta {
    opacity: 0.3;
}

.respostaErrada p {
    color: #FF4B4B;
}

.respostaCerta p {
    color: #009C22;
}

.fimQuizz {
    width: 759px;
    height: 430px;
}

.fimColor {
    background-color: #EC362D;
}

.fimQuizz p {
    margin-left: 21px;
    font-size: 19px;
    color: #484848;
    font-weight: 700;
    margin-bottom: 22px;
}

.fimQuizz img {
    width: 364px;
    height: 273px;
    margin-bottom: 22px;
}

.reiniciarQuizz {
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    border: 0;
    border-radius: 15px;
    color: #FFF5F4;
    margin-top: 57px;
}

.voltarInicio {
    width: 219px;
    height: 44px;
    color: #818181;
    border: 0;
    margin-top: 16px;
    background-color: #FAFAFA;
    margin-bottom: 85px;
}

.perguntaMenor{
    height: 350px;
}

.flexFim {
    display: flex;
}

/* FIM PARTE DA TELA 2 */

@media (max-width:1000px){
    /* INICIO PARTE DA TELA 1 */
    main, .criacao-quizzes {
        width: 700px;
    }
}

@media (max-width:1100px) {

    /* INICIO PARTE DA TELA 2 */
    .pergunta {
        width: 500px;
        height: 581px;
    }

    .perguntaMenor {
        height: 350px;
    }

    .pergunta img {
        width: 200px;
        height: 150px;
    }

    .color {
        height: 100px;
        font-size: 15px;
    }

    .fimQuizz {
        height: 350px;
    }
    /* FIM PARTE DA TELA 2 */
}

@media (max-width: 600px) {

    /* INICIO PARTE DA TELA 1 */

    main, .criacao-quizzes {
        width: 340px;
    }

    /* FIM PARTE DA TELA 1 */

    /* INICIO PARTE DA TELA 2 */

    .tituloQuiz h1 {
        font-size: 2.6vh;
    }

    .pergunta {
        width: 100vw;
        height: 68vh;
    }

    .perguntaMenor {
        height: 40vh;
    }

    .pergunta img {
        width: 41vw;
        height: 15vh;
    }

    .color {
        width: 85.5vw;
        height: 89px;
    }

    .color h1 {
        font-size: 2.6vh;
    }

    .margin {
        margin-left: 3.5vw;
    }

    .miniContainer p {
        font-size: 1.8vh;
    }

    .flexFim {
        flex-direction: column;
    }

    .fimQuizz {
        min-height: 73vh;
    }

    .fimQuizz img {
        width: 85.5vw;
        height: 34.7vh;
    }

    .fimQuizz p {
        font-size: 2.3vh;
    }

    .reiniciarQuizz{
        font-size: 18px;
        width: 220px;
        height: 44px;
    }

    .voltarInicio {
        font-size: 18px;
    }

    /* FIM PARTE DA TELA 2 */
}
